.resume {
  width: 100%;
  height: 100%;

  background-size: cover;
  overflow: scroll;
  overflow-x: hidden;

  div {
    height: 200%;
    width: auto;
    background-image: url("./Resume.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
}
