.resume {
  width: 100%;
  height: 95%;

  background-size: cover;
  // overflow: scroll;
  overflow-x: hidden;

  a {
    text-decoration: none;
  }
  // div {
  //   height: 100%;
  //   width: auto;
  //   background-image: url("./Resume.png");
  //   background-repeat: no-repeat;
  //   background-size: contain;
  //   background-position: 50%;
  //   overflow-x: hidden; /* Hide horizontal scrollbar */
  // }
}
